@page
@model ServiceHost.Pages.AccessDeniedModel
@{
    
}

<div class="alert alert-danger">
    <h1>404 !</h1>
    <h2>متاسفانه شما اجازه دسترسی به این صفحه را ندارید.</h2>
    <a class="btn btn-purple waves-effect waves-light" asp-page="./Index">بازگشت به صفحه اصلی</a>
</div>