@model List<_01_ShopQuery.Contracts.ProductCategory.ProductCategoryQueryModel>
<div class="category-area section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="category-wrapper">
                    <div class="row row-10 masonry-category-layout">
                        @foreach (var category in Model)
                        {
                            <div class="col-lg-4 col-sm-6 grid-item">
                                <div class="single-category-item">
                                    <div class="single-category-item__image">
                                        <a asp-page="/ProductCategory" asp-route-id="@category.Slug">
                                            <img src="~/UploadedFiles/@category.Picture" class="img-fluid" alt="@category.PictureAlt">
                                        </a>
                                    </div>
                                    <div class="single-category-item__content">
                                        <h3 class="title">@category.Name</h3>
                                        <a asp-page="/ProductCategory/@category.Slug">
                                            <i class="ion-android-arrow-dropleft-circle"></i> همین حالا خرید کنید.
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>